<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puebla.ayto.ti.multas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

   		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AyuntamientoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title"
            android:icon="@drawable/logo_ayuntamiento_original">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:label="Acerca de" 
            android:name=".AcercaDe" 
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PueblaAyuntamiento.AcercaDe"  ></activity>
        
    </application>

</manifest>
